<section class="generic-banner relative text-center" style="background-image: -webkit-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);">
    <div class="container">
        <div class="row align-items-center justify-content-center" style="height: 600px;">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white" style="margin-top:0;font-size:30px;margin-bottom:20px; font-weight:600;">The Generic Page</h2>
                    <p class="text-white" style="font-weight: 300; line-height: 1.625em;">It won’t be a bigger problem to find one video game lover in your <br> neighbor. Since the introduction of Virtual Game.</p>
                </div>
            </div>
        </div>
    </div>
</section>
