
@{
    ViewData["Title"] = "Index";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>WELCOME ADMIN!</h1>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
@section scripts {
    <script src="https://kit.fontawesome.com/f28891363d.js"></script>
}

